.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 3;

  .container {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: #7952B3;
    border-radius: 0 20px 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;

    a {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      color: #fff;
      font-weight: 400;
      position: relative;
      color: #fff;
      cursor: pointer;
      line-height: 1;
      text-decoration: none;
      margin-top: 30px;
    }

    a:after {
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
      height: 1px;
      background-color: #fff;
      content: "";
      transition: width 0.3s ease-out;
    }

    a:hover:after,
    a:focus:after {
      width: 100%;
    }
  }
}
