@{
    ViewData["Message"] = "SignIn Page";
}

<style>
    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }
    input {
        border: 1px solid black;
    }
    button {
        width: 250px;
        height: 50px;
        border: 1px solid black;
        background-color: transparent;
    }
</style>

<form method="post" action="/authenfication/SignIn">
    <h1>Вход</h1>
    <label>Login: <input name="Login"/></label>
    <label>Password: <input type="password" name="Password"/></label>
    <button type="submit">Войти</button>
</form>